$edge: 50px;

.cube{
	position: relative;
	width: $edge * 2;
	height: $edge * 2;
	transform-origin: bottom right 50px;
	transform-style: preserve-3d;
	// animation: turnInfinite 10s linear 0s infinite normal none running
}

.box{
	position: absolute;
	width: $edge * 2;
	height: $edge * 2;
	transform-style: preserve-3d;
}
.box:nth-child(1){

}
.box:nth-child(2){
	transform: translateX($edge * 2);
}
.box:nth-child(3){
	transform: translateY($edge * 2);
}
.box:nth-child(4){
	transform: translateX($edge * 2) translateY($edge * 2);
}
.box:nth-child(5){
	transform: translateZ($edge * 2);
}
.box:nth-child(6){
	transform: translateX($edge * 2) translateZ($edge * 2);
}
.box:nth-child(7){
	transform: translateY($edge * 2) translateZ($edge * 2);
}
.box:nth-child(8){
	transform: translateX($edge * 2) translateY($edge * 2) translateZ($edge * 2);
}
.box_face{
	position: absolute;
	width: $edge * 2;
	height: $edge * 2;
	padding: 5px;
	border: 1px solid black;
	&_color{
		width: 100%;
		height: 100%;
	}
}
$width: 200;
$height: 200;
.box_face-top {
	transform: translateY($edge) rotateX(-90deg);
  }
  .box_face-bottom {
	transform: translateY(-$edge) rotateX(90deg);
  }
  .box_face-front {
	transform: translateZ($edge);
  }
  .box_face-back {
	transform: translateZ(-$edge) rotateX(180deg);
  }
  .box_face-right {
	transform: translateX($edge) rotateY(90deg);
  }
  .box_face-left {
	transform: translateX(-$edge) rotateY(-90deg);
  }

  @keyframes turnInfinite {
	0% {
	  transform: rotateX(0deg) rotateY(0deg);
	}
	100% {
	  transform: rotateX(360deg) rotateY(360deg);
	}
  }