@use '../variable' as *;
@use '../mixin';

.sectionHeader{
	position: relative;
	width: 100vw;
	background-size: cover;
	background-position: center top;
	padding-top: 100px;
	padding-bottom: 50px;
	z-index: 0;

	&::before{
		@include mixin.maskBgImage()
	}
	&__title{
		margin-bottom: 20px;
	}

	&__subTitle{
		margin-bottom: 50px;
		color: $fc-white;
		font-family: $ff-roboto;
		font-size: $fz-m;
		font-weight: 400;
	}
}