@use './variable' as *;

html{
	scroll-behavior: smooth;
}
body{
	color: $fc-black;
	font-family: $ff-raleway;
	font-size: $fz-s;
	font-weight: 400;
	line-height: 1.2;
	box-sizing: border-box;
}
h1{
	color: $fc-white;
	font-family: $ff-montserrat;
	font-size: $fz-xxl;
	font-weight: 700;
}
h2{
	color: $fc-white;
	font-family: $ff-montserrat;
	font-size: $fz-xxl;
	font-weight: 400;
}
h3{
	color: $fc-green;
	font-family: $ff-roboto;
	font-size: $fz-l;
	font-weight: 400;
	line-height: 1.45;
}
h4{
	color: $fc-blue;
	font-family: $ff-raleway;
	font-size: $fz-s;
	font-weight: 400;
	line-height: 1.45;
}
section{
	margin-bottom: 100px;
}
a{
	color: $fc-black;
	font-family: $ff-raleway;
	font-weight: 400;
	line-height: 1.2;
	text-decoration: none;
}
img{
	max-width: 100%;
	max-height: 100%;
}
input{
	display: block;
}
textarea{
	display: block;
	resize: none;
}
button{
	outline: none;
	border: none;
}

.inner{
	max-width: 1000px;
	width: 70%;
	margin: 0 auto;
	padding-left: 60px;
}
